<app-navbar></app-navbar>
<div class="carousel-section" id="casal">
  <div class="carousel">
    <img loading="lazy" [src]="carouselImages[currentImage]" alt="images-carousel" class="carousel-image" />
    <button class="carousel-btn left" (click)="prevImage()">&#8592;</button>
    <button class="carousel-btn right" (click)="nextImage()">&#8594;</button>
  </div>
  <p class="carousel-text">
    De todas as histórias já escritas, para nós, a História das Histórias é a melhor. O grande Escritor
    do Universo, escolheu, em sua bondade e Graça, escrever algumas linhas sobre nós. Entre tantas
    bibliotecas, Ele escolheu fazer das nossas, uma só, e nos presenteou com a alegria de partilhar de
    seus feitos através de nós. A amizade foi a semente que vingou em terra vulnerável, o amor se
    aprochegou cordial e de todas as opções, ficou apenas ela, amar um ao outro até o último fôlego
    de nossos pulmões. Que nessa Festa da Graça, você possa dançar essa dança enigmática e
    sublime conosco, ao som da voz do Deus que faz infinitamente mais que pedimos e pensamos.
  </p>
</div>

