.navbar{
  background: #41513f;
}

.nav-link{
  color: white;
  font-family: EBGaramond, 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: #152101; /* Cor de destaque ao passar o mouse */
}

.nav-item {
  padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link.active-link{
  color: #c6cbc6;
}
