<div class="obrigado">
  <div class="thanks">
    <div class="general">
      <div class="msg">
        <h1 class="texto">
          Ficamos muito felizes com sua generosidade!
          <br />
          Sua presença é essencial para nós nessa nova etapa, e temos certeza que nosso pequeno lar terá parte de você!
          <br />
          Com amor e carinho,
        </h1>
        <h1 class="assinatura">Neto e Clara</h1>
      </div>
    </div>
    <button mat-fab color="primary" class="btn-voltar" routerLink="/">
      Voltar para o Início
    </button>
  </div>

  <div class="banner-left-inferior"></div>
</div>
