<div class="obrigado">
  <div class="banner-right"></div>
  <div class="banner-left-inferior"></div>
  <div class="thanks">
    <div class="general">
      <div class="msg">
       <h1 class="texto">
         Ficamos muito felizes com sua generosidade!
        <br>
         Sua presença é essencial para nós
         nessa nova etapa, e temos certeza que nosso pequeno lar terá parte de você!
        <br>
         Com
         amor e carinho,
        </h1>
        <h1 class="assinatura">
        <br>
          Neto e Clara </h1>
      </div>
    </div>
    <button mat-fab extended routerLink="/">Voltar para o Inicio</button>
  </div>
</div>
