<section class="top-section">
  <div class="banner-container">
    <img
      [src]="isHandset ? mainImageMobile : mainImageDesktop"
      alt="Banner"
      [ngClass]="{ 'banner-image': true, 'mobile-banner': isHandset }"
    />

    <div class="content-center">
      <h1>Neto e Clara</h1>
      <p class="invite">Convidam para celebrar a</p>
      <p class="name">festa da graça!</p>
      <hr class="line" />
      <p class="date">04 Outubro, 2025 às 15:30</p>
      <hr class="line" />
    </div>
  </div>

  <div class="intro-text">
    <p class="verse">
      “Toda glória seja a Deus que, por seu grandioso poder <br />
      que atua em nós, é capaz de realizar infinitamente mais que pedimos e pensamos.“ <br /> EFÉSIOS 3:20
    </p>
  </div>

  <nav [ngClass]="{ 'icon-menu': true, 'web': true, 'mobile': isHandset }">
    <a class="icon-item" href="/casal">
      <div class="icon-circle">
        <lucide-icon name="heart"></lucide-icon>
      </div>
      <p class="menu-name">O Casal</p>
    </a>
    <a class="icon-item" href="#" data-bs-toggle="modal"  data-bs-target="#igreja">
      <div class="icon-circle">
        <lucide-icon name="map-pinned"></lucide-icon>
      </div>
      <p class="menu-name">Localização</p>
    </a>
    <a class="icon-item" href="#" data-bs-toggle="modal"  data-bs-target="#avisos">
      <div class="icon-circle">
        <lucide-icon name="circle-alert"></lucide-icon>
      </div>
      <p class="menu-name">Avisos</p>
    </a>
    <a class="icon-item" href="/listas">
      <div class="icon-circle">
        <lucide-icon name="gift"></lucide-icon>
      </div>
      <p class="menu-name">Presentes</p>
    </a>
  </nav>

  <div [ngClass]="{ 'contagem': true, 'contagem-mobile': isHandset }">
    <div class="item dia">
      <span id="dias" class="valor"></span>
      <span class="unidade">dias</span>
    </div>
    <div class="item hora">
      <span id="horas" class="valor"></span>
      <span class="unidade">horas</span>
    </div>
    <div class="item min">
      <span id="minutos" class="valor"></span>
      <span class="unidade">minutos</span>
    </div>
    <div class="item seg">
      <span id="segundos" class="valor"></span>
      <span class="unidade">segundos</span>
    </div>
  </div>

</section>

<div [ngClass]="{ 'banner': !isHandset, 'left-inferior': !isHandset }"></div>
<div class="banner right-suṕerior"></div>

  <!-- Modal Igreja-->
  <div class="modal fade" id="igreja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-igreja">
          <img src="assets\img\igreja.png" class="card-img-top imgModal" alt="...">
          <p class="card-text place text-center">Celebre conosco essa Graça que nos leva a sorrir no dia de hoje!<br />
            O culto de Celebração da nossa união ocorrerá ás 15:30 na <br /> Igreja Batista Bíblica do Cruzeiro -
            Campina Grande - PB. <br /> Contamos com asua presença!</p>
        </div>
        <div #container class="modal-footer modalF">
          <a href="https://maps.app.goo.gl/3FQzrne2kTDowvj6A" target="_blank">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"><i class="fa fa-map-marker" aria-hidden="true"></i> Abrir no Maps
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Avisos -->
<div class="modal fade" id="avisos" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-0 border-0 overflow-hidden position-relative">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-2 z-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <img src="assets/img/Confirme-sua-presença.webp" class="w-100 d-block" alt="Aviso">
    </div>
  </div>
</div>

