.initial-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg-image-card {
  margin: 0 auto;
  background-image: url(/assets/img/casal/principal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  aspect-ratio: 3 / 4;
  width: 50%;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  width: 100%;
}

.content-center h1,
.name {
  font-size: 1.5rem;
  font-family: Myfont, 'Helvetica', 'Arial', sans-serif;
  margin: 0.5rem;
}

.invite,
.date {
  font-size: 0.5rem;
  margin: 0;
  font-family: EBGaramond, 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
}

.date {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1rem;
}

.name {
  font-size: 1rem;
}

.text {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verse {
  font-style: italic;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.cap {
  font-weight: bold;
}
@media (min-width:801px) and (max-width: 1300px) {
  .bg-image-card {
    aspect-ratio: 1;
    width: 25%;
  }
}

@media (min-width:500px) and (max-width: 650px) {
  .bg-image-card {
    width: 46%;
  }
}
@media (max-width:499px) {
  .bg-image-card {
    width: 100%;
  }
}

@media (min-width:651px) and (max-width: 800px) {
  .bg-image-card {
    width: 40%;
  }
}

//
//.slider {
//  margin: 0 auto; /* centraliza o carrossel */
//}
//
//.picsum-img-wrapper img {
//  width: 100%;
//  height: 15rem;
//  object-fit: contain; /* faz a imagem se ajustar ao contêiner */
//  background-color: #f0f0f0; /* cor de fundo opcional para as áreas vazias */
//}
//
//
//.container {
//  padding-top: 4rem;
//  height: 100vh;
//}
//
//
//
//.photo-card {
//  max-width: 24%;
//  margin: 1em;
//  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//  //border-radius: 8px;
//  overflow: hidden;
//  text-align: center;
//  justify-content: center;
//
//}
//
//.general {
//  align-items: center;
//  flex-direction: column;
//  text-align: center;
//  font-family: "Glacialfont", sans-serif;
//  padding-bottom: 2rem;
//  color: #ffffff;
//}
//
//.bible-text {
//  display: flex;
//  padding: 2.5rem;
//  line-height: 1.2;
//  font-size: 20px;
//}
//
//.middle-position{
//  padding-top: 3rem;
//}
//
//
//.menu-itens {
//  display: flex;
//  justify-content: center;
//  z-index: 10;
//  position: relative;
//}
//
//.menu-item{
//  padding: 30px;
//}
//
//.img-menu {
//  transition: transform 0.5s ease-in-out;
//}
//
//.menu-item:hover .img-menu {
//  transform: scale(1.2);
//}
//
//a{
//  text-decoration: none;
//}
//
//.text-home{
//  font-size: 20px;
//  margin-top: 20px;
//  line-height: 0;
//  color: #614124;
//  text-align: center;
//}
//
//.contagem {
//  display: flex;
//  justify-content: center;
//  margin-top: 3rem;
//}
//
//.item {
//  width: 90px;
//  height: 90px;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  background-color: rgba(0,0,0,0.1);
//  //border: 5px solid rgba(255,255,255,0.3);
//  margin: 12px;
//}
//
//.valor {
//  font-size: 30px;
//  font-weight: bold;
//  color: #6f6f64;
//}
//
//.unidade {
//  font-size: 12px;
//  color: #666;
//  font-weight: bold;
//}
//
///* Esconde o carrossel em telas maiores que 768px */
//.slider {
//  display: none !important;
//}
//
//.img-verse {
//  display: flex;
//  justify-content: center;
//  gap: 4rem;
//}
//
//@media(max-width: 990px){
//  .slider {
//    width: 31vh;
//    height: 15rem;
//    display: block !important;
//  }
//
//  .img-verse {
//    display: none !important;
//  }
//}
//
//@media (min-width: 800px) and (max-width: 1330px) {
//  .bible-text{
//    font-size: 12px;
//  }
//
//  .invite {
//    font-size: 17px;
//  }
//
//  .date{
//    font-size: 20px;
//  }
//
//  .text-home{
//    font-size: 18px;
//  }
//
//  .img-menu {
//    max-width: 9rem;
//  }
//
//  .valor {
//    font-size: 25px;
//  }
//}
//
//@media (max-width: 799px) {
//
//  .bg-image-card {
//    background-image: url('/assets/img/casal/oficial2.png');
//  }
//
//  .contagem {
//    margin-top: 1rem;
//  }
//
//  .bible-text{
//    font-size: 12px;
//  }
//
//  .content-center h1 {
//    font-size: 4.5em;
//  }
//
//  .invite {
//    font-size: 12px;
//  }
//
//  .date{
//    font-size: 15px;
//  }
//
//  .text-home{
//    font-size: 14px;
//  }
//
//  .img-menu {
//    max-width: 65px;
//  }
//
//  .item {
//    width: 60px;
//    height: 60px;
//  }
//
//  .valor {
//    font-size: 15px;
//  }
//
//  .unidade {
//    font-size: 8px;
//  }
//}
//
//@media (max-width: 500px) {
//
//  .menu-item{
//    padding: 1rem;
//  }
//
//  .up-position{
//    font-size: 8px;
//  }
//
//  .content-center h1 {
//    font-size: 3em;
//  }
//
//  .invite {
//    font-size: 12px;
//  }
//
//  .date{
//    font-size: 16px;
//  }
//}
//
///*Modal Igreja*/
//.modal {
//  font-family: "Glacialfont", sans-serif;
//}
//
//.place{
//  margin-bottom: 6px;
//}
//
//.address{
//  padding: 0 12px 0 12px;
//  font-weight: bold;
//  margin-bottom: 10px;
//}
//
//.imgModal{
//  padding: 0 12px 12px;
//}
//
//.modalH{
//  border-bottom: none;
//}
//
//.modalF{
//  display: inline;
//  flex-shrink: 0;
//  border-top: none;
//  text-align: center;
//  flex-wrap: wrap-reverse;
//  align-items: center;
//  justify-content: flex-end;
//  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
//  background-color: var(--bs-modal-footer-bg);
//  //border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
//  //border-bottom-right-radius: var(--bs-modal-inner-border-radius);
//  //border-bottom-left-radius: var(--bs-modal-inner-border-radius);
//}
