html {
  scroll-behavior: smooth;
}

.banner {
  position: absolute;
  width: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 3 / 4;
  pointer-events: none;
  z-index: 0;
}

.left-inferior {
  bottom: 0;
  left: 0;
  height: auto;
  background-image: url(../../../assets/img/home-decoration/1.webp);
  background-position: bottom left;
}

.right-suá¹•erior {
  top: 0;
  right: 0;
  background-image: url(../../../assets/img/home-decoration/2.webp);
  background-position: top right;
}

.top-section {
  text-align: center;
  padding-bottom: 2rem;
}

.banner-container {
  position: relative;
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 80%;
  max-height: 60vh;
  object-fit: contain;
}

.line {
  width: 60%;
  border: none;
  border-top: 1px solid #fff; /* ou a cor desejada */
  margin: 0.5rem auto;
}

.mobile-banner {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.content-center {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.content-center .name {
  font-size: 2.5rem;
  font-family: Myfont, 'Helvetica', 'Arial', sans-serif;
  line-height: 1.2;
}

.content-center h1 {
  font-family: Myfont, 'Helvetica', 'Arial', sans-serif;
  font-size: calc(18px + 1vw);
  line-height: 1.2;
}

.content-center .invite {
  font-family: EBGaramond, 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  margin: 4px 0;
  text-transform: uppercase;
}

.content-center .date {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.intro-text {
  margin: 1rem;
  font-size: 1rem;
  color: #333;
}

.verse {
  font-family: EBGaramondItalic, 'Helvetica', 'Arial', sans-serif;
  text-shadow: 2px 2px 4px #ffffff;
}

.cap {
  font-family: EBGaramond, 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.icon-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .mobile {
    gap: 1rem;
  }

  .web {
    gap: 2rem;
  }
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 80px;
  color: white;
}

.icon-circle {
  background-color: #556b2f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.icon-circle:hover {
  background-color: #6b8e23;
}

.icon-circle i {
  color: white;
  width: 24px;
  height: 24px;
}

.menu-name {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  color: black;
}

.contagem-mobile {
  gap: 15px !important;
}

.contagem-mobile .item {
  width: 50px !important;
  height: 50px !important;
}

.contagem-mobile .valor {
  font-size: 1.2rem !important;
  line-height: 50px !important;
}

.contagem-mobile .unidade {
  font-size: 0.75rem !important;
}

.contagem-mobile .item::before {
  width: 50px !important;
  height: 50px !important;
  border-width: 2px !important;
}



.contagem {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: EBGaramondItalic, 'Helvetica', 'Arial', sans-serif;
  margin-top: 1rem;
}

.contagem .item {
  text-align: center;
  position: relative;
  width: 80px;
  height: 80px;
}

.contagem .valor {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3f9c35;
  z-index: 2;
  position: relative;
  line-height: 80px;
}

.contagem .unidade {
  font-size: 1rem;
  color: #666;
  margin-top: 0.3rem;
  display: block;
}

.contagem .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  border-top: 3px solid #8bc34a;
  z-index: 1;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.text-center {
  padding: 0.5rem;
  text-align: center;
  font-family: EBGaramond, 'Helvetica', 'Arial', sans-serif;
}

.modalF{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content-center h1 {
    font-size: 1.5rem;
  }

  .carousel-image {
    max-height: 250px;
  }
}
