<app-navbar></app-navbar>
<div class="list-gifts py-5">
  <div class="initial">
    <div class="title">
      <h1 class="mobile-text">Lista de Presentes</h1>
    </div>
    <div class="text">
      <h5>Querido convidado (a), criamos esse espaço para que possa ter acesso as
        nossas listas de presentes. Selecionamos com carinho diversas formas de
        você abençoar nossa família!
      </h5>
      <p class="att">Com amor, Neto e Clara</p>
    </div>
  </div>

  <div class="container">
    <div class="row" style="justify-content: center;">
      <div class="card col-3">
        <a href="https://www.amazon.com.br/hz/wishlist/ls/1LPHRXR5L0SSK?ref_=wl_share" target="_blank">
          <div class="circle">
            <img class="ltsPresente imgPresente" src="assets/img/home/listaPresente/amazon.png" alt="">
          </div>
          <div class="content">
            <p>Essa é uma boa opção para você que
              possui assinatura Amazon Prime,
              permitindo você nos presentear direto da
              sua casa e com frete grátis!</p>
            <a href="https://www.amazon.com.br/hz/wishlist/ls/1LPHRXR5L0SSK?ref_=wl_share" target="_blank">Dar uma olhadinha</a>
          </div>
        </a>
      </div>

      <div class="card col-3">
        <a href="https://www.querodecasamento.com.br/lista-de-casamento/clara--neto" target="_blank">
          <div class="circle">
            <img class="ltsPresente imgPresente" src="assets/img/home/listaPresente/magalu.png" alt="">
          </div>
          <div class="content">
            <p>No Magazine Luiza você
              encontrará diversas opções de
              presentes com entrega ágil e
              parcelamento sem juros!</p>
            <a href="https://www.querodecasamento.com.br/lista-de-casamento/clara--neto" target="_blank">Dar uma olhadinha</a>
          </div>
        </a>
      </div>

      <div class="card col-3">
        <a href="/general-list">
          <div class="circle">
            <img class="list-general" src="assets/img/home/listaPresente/listaIcone.png" alt="">
          </div>
          <div class="content">
            <p>Criamos uma lista de presentes
              diversos para que você também possa
              comprar em uma outra loja de sua
              preferência.</p>
            <a href="/general-list">Dar uma olhadinha</a>
          </div>
        </a>
      </div>

      <div class="card col-3">
        <a href="#" class="link-menu" data-bs-toggle="modal" data-bs-target="#pix">
          <div class="circle">
            <img class="list-general" src="assets/img/home/listaPresente/pix.png" alt="">
          </div>
          <div class="content">
            <p>Caso queira nos presentear com algum
              valor em PIX</p>
            <a href="/pix">Clique aqui</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


  <!-- Modal PIX -->
  <div class="modal fade" id="pix" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalH">
          <h5 class="modal-title text-center" id="exampleModalLabel">QrCode</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-qrcode">
          <img src="assets\img\pix.webp" class="card-img-top imgModal" alt="...">
<!--          <button type="button" class="button-copy btn btn-success" data-bs-dismiss="modal" (click)="copyPixKey()">Copiar</button>-->
        </div>
      </div>
    </div>
  </div>
